

body{
   margin: 0;
}

/* Navigation */


ul,ul li {
   display: inline;
   list-style: none;
   margin-right: 15px;
   padding: 0;
}
.brand{
   font-size: 30px;
   text-align: center;
}

a{
   text-decoration: none;
}
.nav{
   text-align: center;
   font-size: 20px;

}
.container{
   padding-top: 20px;
   margin-top: auto;

}

/* splash */

.splash{
min-height: 500px;
display: flex;
text-align: center;

}

.splash-inner{
    margin: auto;
    max-width: 70%;
    position: relative;
    font-size: 35px;
    
}

 
.btn {
    
display: inline-block;
min-width: 160px;
margin: 24px auto 0 auto;
padding: 16px;
font-size: 16px;
text-align: center;
text-decoration: none;
cursor: help;
border-width: 2px;
border-style: none;
background-position: 100% 0;
background-size: 300%;
border-radius: 5px ;
transition: 1s;
}

.btn-one{
    background: #FFCC00;
    
}

.navigation{
   background-image: url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&w=800");
   height: 100vh;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
}
.title{
   font-size: 20px;
   text-align: center;
}
.icon1{
   text-align: center;
}

.services{
   text-align: center;
}


 i {
    font-size: 30px;
    background: black;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: black;
    border-radius: 50%;
}


